<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Frikr - Como Flickr, pero en Friki</title>
</head>
<body>
<h1>Bienvenido a Frikr</h1>
<p>Como Flickr, pero en Friki.</p>

    {% if photos_list|length %}
        <h2> Últimas fotos publicadas </h2>>
        {% for photo in photos_list %}
            <img src="{{photo.url}}" alt="{{photo.name}}" height="150">
        {% endfor %}
    {% else %}
        Sé el primero en publicar una foto!
    {% endif %}

</body>
</html>